@import './base.css';

#app {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;

    padding-left: 0;
    padding-bottom: 1vw;
    margin-bottom: 2.5vw;

    width: 70vw;

    border-bottom: 0.25vw solid var(--color-border);
}

.navbar > * {
    margin-right: 5%;
}

.navbar-link {
    text-decoration: none;
    font-size: x-large;
}

.navbar-link-active {
    color: var(--color-muted);
}

.navbar-link-inactive {
    color: var(--color-primary); 
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-input {
    background: transparent;
    color: var(--color-muted);
    border: none;
    border-bottom: 0.25vw solid var(--color-border);
    margin-top: 10%;
}

.submit-btn {
    background-color: var(--color-border);
    color: var(--color-heading);
    border: none;
    border-radius: 10px;
    margin-top: 5vh;
    width: 60%;
    align-self: center;
}

.list {
    list-style: none;
    margin-block: 2.5vh;
    padding-left: 0;
    width: 40vw;
}

.li-element,
.list-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}

.li-element {
    width: 55vw;
}

.list-element {
    width: 40vw;
}

.delete-btn {
    border: 2px solid var(--error-red);
    border-radius: 10px;
    color: var(--color-muted);
    font-size: larger;
    padding-inline: 2vw;
    background: transparent;
}

.total-expense {
    margin-top: 5vh;
}

.error-message {
    color: var(--error-red);
}

.navbar-space-between {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    height: 10vh;
}

.btn {
    border: var(--color-border) solid 2px;
    border-radius: 10px;
    background-color: transparent;

    height: 60%;

    color: var(--color-text);

    font-size: medium;

    padding-inline: 1.5%;
}

.btn:hover {
    border: var(--color-border-hover) solid 2px;
}